@using OganiWebApp.Areas.Admin.ViewModels.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ListItemViewModel>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Area</h4>
            <a asp-route="admin-product-add">Add Product</a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/@product.ImageUrl" alt="image" />
                                </td>
                                <td>
                                    @product.Name
                                </td>

                                <td class="text-end">
                                    <a asp-route="admin-product-update" asp-route-id="@product.Id">Edit </a>
                                    <form method="POST" asp-route="admin-product-delete" asp-route-id="@product.Id" id="product-form-@product.Id"></form>
                                    <button type="submit" form="product-form-@product.Id">
                                        Delete
                                    </button>
                                    <a asp-route="admin-product-image-list" asp-route-productId="@product.Id">Edit Images</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

