@using OganiWebApp.Areas.Admin.ViewModels.ProductCategory
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UpdateViewModel
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Blog Category</h4>
            <p class="card-description">
                Update Blog Category
            </p>
            <form class="forms-sample" method="post" asp-route="admin-blog-category-update" asp-route-Id="@Model.Id" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title" for="exampleInputUsername1">Title</label>
                    <input asp-for="Title" type="text" class="form-control" id="exampleInputUsername1" placeholder="Title">
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>