@using OganiWebApp.Areas.Admin.ViewModels.ProductCategory
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ListItemViewModel>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Category Area</h4>
            <a asp-route="admin-product-category-add">Add Product Category</a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var productCategory in Model)
                        {
                            <tr>
                                <td>
                                    @productCategory.Title
                                </td>

                                <td class="text-end">
                                    <a asp-route="admin-product-category-update" asp-route-id="@productCategory.Id">Edit</a>
                                    <form method="POST" asp-route="admin-product-category-delete" asp-route-id="@productCategory.Id" id="admin-category-form-@productCategory.Id"></form>
                                    <button type="submit" form="admin-category-form-@productCategory.Id">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

