@using OganiWebApp.Areas.Admin.ViewModels.Size
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ListItemViewModel>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Size Area</h4>
            <a asp-route="admin-size-add">Add Size</a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var size in Model)
                        {
                            <tr>
                               
                                <td>
                                    @size.Title
                                </td>
                                <td class="text-end">
                                    <a asp-route="admin-size-update" asp-route-id="@size.Id">Edit</a>
                                    <form method="POST" asp-route="admin-size-delete" asp-route-id="@size.Id" id="size-form-@size.Id"></form>
                                    <button type="submit" form="size-form-@size.Id">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

